<h1>Clubs</h1>

<p><a href="/new_club">Add a New Club</a></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Teacher</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @clubs.each do |club| %>
    <tr>
          <td><%= club.name %></td>
          <td><%= club.teacher.name %></td>
          <td>
            <div class="nav">
              <a href="/clubs/<%= club.id %>"><span class="glyphicon glyphicon-zoom-in"></span> </a>&nbsp;
              <a href="/clubs/<%= club.id %>/edit"><span class="glyphicon glyphicon-pencil"></span> </a>&nbsp;
              <a href="/clubs/<%= club.id %>/destroy"><span class="glyphicon glyphicon-trash"></span></a> 
            </div>
          </td>
    </tr>
  <% end %>
  </tbody>
</table>

