<h2>Club: <%= @club.name %></h2>

<div>
  <strong>Name</strong>:<br />
  <p><%= @club.name %></p>
</div>

<div>
  <strong>Teacher</strong>:<br />
  <p><img src="<%= @club.teacher.image_url %>" class="tiny-thumb"> <a href="/teachers/<%= @club.teacher.id %>"><%= @club.teacher.name %></a></p>
</div>

<div class="nav">
    <a href onclick="goBack()"><span class="glyphicon glyphicon-chevron-left"></span> </a>&nbsp; 
    <a href="/clubs/<%= @club.id %>/edit"><span class="glyphicon glyphicon-pencil"></span> </a>&nbsp;
    <a href="/clubs/<%= @club.id %>/destroy"><span class="glyphicon glyphicon-trash"></span> </a> 
</div>