<h1>Editing Schedule #<%= @schedule.id %></h1>

<form action="/schedules/<%= @schedule.id %>/update">
  <div class="input-group edit">
    <span class="input-group-addon">Teacher</span>
    <select name="teacher_id">
      <% Teacher.all.each do |teacher| %>
        <option value="<%= teacher.id %>"><%= teacher.name %></option>
      <% end %>
    </select> 
  </div>
  <div>
    <label for="p1">p1</label><br />
    <input id="p1" name="p1" value="<%= @schedule.p1  %>" type="text" />
  </div>
  <div>
    <label for="p2">p2</label><br />
    <input id="p2" name="p2" value="<%= @schedule.p2  %>" type="text" />
  </div>
  <div>
    <label for="p3">p3</label><br />
    <input id="p3" name="p3" value="<%= @schedule.p3  %>" type="text" />
  </div>
  <div>
    <label for="p4">p4</label><br />
    <input id="p4" name="p4" value="<%= @schedule.p4  %>" type="text" />
  </div>
  <div>
    <label for="p5">p5</label><br />
    <input id="p5" name="p5" value="<%= @schedule.p5  %>" type="text" />
  </div>
  <div>
    <label for="p6">p6</label><br />
    <input id="p6" name="p6" value="<%= @schedule.p6  %>" type="text" />
  </div>
  <div>
    <label for="p7">p7</label><br />
    <input id="p7" name="p7" value="<%= @schedule.p7  %>" type="text" />
  </div>
  <div>
    <label for="p8">p8</label><br />
    <input id="p8" name="p8" value="<%= @schedule.p8  %>" type="text" />
  </div>
  <div>
    <label for="p9">p9</label><br />
    <input id="p9" name="p9" value="<%= @schedule.p9  %>" type="text" />
  </div>
  <div>
    <label for="p10">p10</label><br />
    <input id="p10" name="p10" value="<%= @schedule.p10  %>" type="text" />
  </div>

  <div>
    <input type="submit">
  </div>
</form>


