<h1>Schedules</h1>

<p><a href="/new_schedule">Add a New Schedule</a></p>

<table>
  <thead>
    <tr>
      <th>Teacher</th>
      <th>P1</th>
      <th>P2</th>
      <th>P3</th>
      <th>P4</th>
      <th>P5</th>
      <th>P6</th>
      <th>P7</th>
      <th>P8</th>
      <th>P9</th>
      <th>P10</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @schedules.each do |schedule| %>
    <tr>
        <td><%= schedule.teacher.name %></td>
          <td><%= schedule.p1 %></td>
          <td><%= schedule.p2 %></td>
          <td><%= schedule.p3 %></td>
          <td><%= schedule.p4 %></td>
          <td><%= schedule.p5 %></td>
          <td><%= schedule.p6 %></td>
          <td><%= schedule.p7 %></td>
          <td><%= schedule.p8 %></td>
          <td><%= schedule.p9 %></td>
          <td><%= schedule.p10 %></td>
          <td>
          <div class="nav">
          <a href="/schedules/<%= schedule.id %>"><span class="glyphicon glyphicon-zoom-in"></span> </a>&nbsp;
          <a href="/schedules/<%= schedule.id %>/edit"><span class="glyphicon glyphicon-pencil"></span> </a>&nbsp;
          <a href="/schedules/<%= schedule.id %>/destroy"><span class="glyphicon glyphicon-trash"></span></a> 
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

