<h1>Schedule #<%= @schedule.id %></h1>

<div>
  <strong>P1</strong>:<br />
  <p><%= @schedule.p1 %></p>
</div>
<div>
  <strong>P2</strong>:<br />
  <p><%= @schedule.p2 %></p>
</div>
<div>
  <strong>P3</strong>:<br />
  <p><%= @schedule.p3 %></p>
</div>
<div>
  <strong>P4</strong>:<br />
  <p><%= @schedule.p4 %></p>
</div>
<div>
  <strong>P5</strong>:<br />
  <p><%= @schedule.p5 %></p>
</div>
<div>
  <strong>P6</strong>:<br />
  <p><%= @schedule.p6 %></p>
</div>
<div>
  <strong>P7</strong>:<br />
  <p><%= @schedule.p7 %></p>
</div>
<div>
  <strong>P8</strong>:<br />
  <p><%= @schedule.p8 %></p>
</div>
<div>
  <strong>P9</strong>:<br />
  <p><%= @schedule.p9 %></p>
</div>
<div>
  <strong>P10</strong>:<br />
  <p><%= @schedule.p10 %></p>
</div>
<div>
  <strong>Teacher</strong>:<br />
  <p><%= @schedule.teacher_id %></p>
</div>

<a href="/schedules/<%= @schedule.id %>/edit">Edit</a> |
<a href="/schedules/<%= @schedule.id %>/destroy">Destroy</a>
