<h1>Editing: <%= @teacher.name %></h1>

<form action="/teachers/<%= @teacher.id %>/update">
  
  <div class="input-group edit">
    <span class="input-group-addon">Teacher name</span>
      <input type="text" class="form-control" placeholder="First Last" name="name" value="<%= @teacher.name  %>">
  </div>
  
  <div class="input-group edit">
    <span class="input-group-addon">Email address</span>
      <input type="text" class="form-control" placeholder="someone@yahoo.com" name="email" value="<%= @teacher.email  %>">
  </div>
  
  <div class="input-group edit">
    <span class="input-group-addon">Department</span>
      <input type="text" class="form-control" placeholder="example: math" name="department" value="<%= @teacher.department  %>">
  </div>
  
  <div class="input-group edit">
    <span class="input-group-addon">Bio</span>
      <input type="text" class="form-control" placeholder="Something about this teacher..." name="bio" value="<%= @teacher.bio  %>">
  </div>
 
  <div class="input-group edit">
    <span class="input-group-addon">Image URL</span>
      <img src="<%= @teacher.image_url %>" class="small-thumb" />
      <input type="text" class="form-control" placeholder="Paste URL here" name="image_url" value="<%= @teacher.image_url  %>">
  </div>
  
  <div class="input-group edit">
    <span class="input-group-addon">Room Location</span>
      <input type="text" class="form-control" placeholder="example: 220" name="location" value="<%= @teacher.location  %>">
  </div>
  
  <div>
    <input type="submit" class="btn btn-primary"> <a href onclick="goBack()">&nbsp; cancel</span></a>
  </div>
</form>