<h3>Search Results</h3>

<table>

  <tbody>
  <% @teachers.each do |teacher| %>
    <tr>
      <td><img src="<%= teacher.image_url %>" class="small-thumb"></td>
      <td><%= teacher.name %></td>
      <td><%= teacher.email %></td>
      <td><%= teacher.department %></td>
      <td>
        <div class="nav">
          <a href="/teachers/<%= teacher.id %>"><span class="glyphicon glyphicon-zoom-in"></span> </a>&nbsp;
          <a href="/teachers/<%= teacher.id %>/edit"><span class="glyphicon glyphicon-pencil"></span> </a>&nbsp;
          <a href="/teachers/<%= teacher.id %>/destroy"><span class="glyphicon glyphicon-trash"></span></a> 
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<table>

  <tbody>
  <% @courses.each do |course| %>
    <tr>
          <td><%= course.name %></td>
          <td><%= course.teacher.try(:name) %></td>
          <td>
            <div class="nav">
              <a href="/courses/<%= course.id %>"><span class="glyphicon glyphicon-zoom-in"></span> </a>&nbsp;
              <a href="/courses/<%= course.id %>/edit"><span class="glyphicon glyphicon-pencil"></span> </a>&nbsp;
              <a href="/courses/<%= course.id %>/destroy"><span class="glyphicon glyphicon-trash"></span></a> 
            </div>
          </td>
    </tr>
  <% end %>
  </tbody>
</table>