<h1>Courses</h1>

<p><a href="/new_course">Add a New Course</a></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Teacher</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @courses.each do |course| %>
    <tr>
          <td><%= course.name %></td>
          <td><%= course.teacher.try(:name) %></td>
          <td>
            <div class="nav">
              <a href="/courses/<%= course.id %>"><span class="glyphicon glyphicon-zoom-in"></span> </a>&nbsp;
              <a href="/courses/<%= course.id %>/edit"><span class="glyphicon glyphicon-pencil"></span> </a>&nbsp;
              <a href="/courses/<%= course.id %>/destroy"><span class="glyphicon glyphicon-trash"></span></a> 
            </div>
          </td>
    </tr>
  <% end %>
  </tbody>
</table>

